<?xml version="1.0"?>

<model>
  <name>rover_ardupilot_prod</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

<author>
  <name>Siarhei Zhalezka</name>
	<email>zhelezko1990@gmail.com</email>
</author>


  <description>
  Husky Rover with ArduPilot Plugin with production settings
  </description>
</model>
